@model Sample4_2.Models.HelloPerson

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("SendHello", "Home"))
        {
            @: 请输入你的名字：
            @Html.TextBoxFor(x => x.Name);
            <input type="submit" value="Hello" />
        }
    </div>
</body>
</html>
