@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title> 
</head>
<body>
    <form id="form1" method="post" action="/Home/Index">
        <div>
            用户名：<input name="username" id="username" type="text">
            密码：<input name="password" id="password" type="password">
            <input name="submit" type="submit" />
        </div>

    </form>
</body>
</html>
