@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        @using (Html.BeginForm("Hidden", "Test5"))
        {
            @:请输入用户名 @Html.TextBox("name")
            @:请输入密码 @Html.Password("password")
            @Html.Hidden("Hidden", "这是一个隐藏的内容！")
            <input type="submit" value="提交" />

        }
    </div>
</body>
</html>
