@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript">
        function getJsonData() {
            var str = "";
            $.getJSON("/home/TestJsonContentEnc?numDays=100", function (data) {

                alert(data);
                var tt = "";
                $.each(data, function (k, v) {
                    $.each(v, function (kk, vv) {
                        tt += kk + "：" + vv + "<br/>";
                    });
                });
                $("#dataDiv").html(tt);
            });
        }
    </script>


</head>
<body>
    <div>
        @Html.ActionLink("返回ContentResult", "TestContentResult", new { result = false, msg = "我是被返回的ContentResult" }) <br /> 
    </div>
</body>
</html>
